<div class="center" #root>
    <div id="unity-container">
        <canvas id="unity-canvas" [style.width.px]="width()" [style.height.px]="height()"></canvas>
        <div id="unity-loading-bar">
            <div id="unity-progress-bar-empty">
                <div id="unity-progress-bar-full"></div>
            </div>
        </div>        
        <div id="unity-footer">
            <div id="unity-fullscreen-button"></div>
            <div id="unity-build-title">TacticWar</div>
        </div>
    </div>
</div>